 <h1>To-do List </h1>
           <ul>
              <li>
                <input type="checkbox">
               <a href="show.html"> Buy Fruits zero pomodoro </a>
              <li>
                <input type="checkbox">
                Clean bathroom  
                <span class="estimate">one pomodoro</span>
                </li>
              <li>
                <input type="checkbox">
                Ap Psych outline of motivation and work chapter <span class="estimate">four pomodoro</span> 
                </li>
              <li>
                <input type="checkbox">
                Do laundry <span class="estimate">two pomodoro</span>
                </li>
         </ul>

<div id="new-todo-block">
  <input class="text-input" id="new-todo-description" type="text" placeholder="Add a new todo...">
  <input class="text-input" id="new-pomodoro-estimate" type="number" placeholder="Pomodoro estimate...">
  <input class="button" id="add-new-todo-button" type="submit" value="Add todo">
</div>